{% extends 'base.html.twig' %}

{% block body %}
    {% include 'include/header.html.twig' %}


    <main>

        <nav>
            <button>Trier par A>Z</button>
            <button>Trier par Z>A</button>


        </nav>

        <div class="pokedexStyle">


            {% for pokemon in pokedex %}

                <div class="cardPokemon">
                    <img src="{{ asset('img/pokemon/'~pokemon.image) }}"  alt="image du pokémon : {{ pokemon.nom }} " class="imgPokemon">
                    <div class="container">
                        <a href="{{ path('main_pokemon',{'id':pokemon.id()}) }}">
                            <b> {{ pokemon.nom }}</b>
                        </a>
                        <img class="imgcatch" src="{{ (pokemon.estCapture) ? asset('img/icon/pokeball-ok.jpg') : asset('img/icon/pokeball-ko.jpg') }}" alt="">
                    </div>
                </div>


        {% endfor %}

        </div>






    </main>

{% endblock %}

{% block title %}
{{ parent() }} - Pokédex
{% endblock %}


