{% extends 'base.html.twig' %}

{% block body %}

    <div class="cardPokemon">

        <h4>{{ pokemon.nom }}</h4>
        <img class="imgcatch" src="{{ (pokemon.estCapture) ? asset('img/icon/pokeball-ok.jpg') : asset('img/icon/pokeball-ko.jpg') }}" alt="">
        <h5>N°{{ pokemon.id }}</h5>
        <img src="{{ asset('img/pokemon/'~pokemon.image) }}" alt="image du pokémon : {{ pokemon.nom }} " class="imgPokemon">

        <fieldset class="descripStyle">
            <legend> Description :</legend>
            {{ pokemon.description }}
        </fieldset>



        <p>ATK : {{ pokemon.attaque }} / DEF : {{ pokemon.defense }}</p>

    </div>
    <br>
{% endblock %}

{% block title %}
    {{ parent() }} - Pokémon {{ pokemon.nom }}
{% endblock %}
